<div class="main-container d-flex">
  <div class="sidebar" id="side-nav">
    <div class="d-flex flex-column pt-3 pb-3 align-items-center">
      <img
        class="header-avatar"
        src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
      />
      <span class="fs-4 text-white">Lê Gia Tuấn</span>
    </div>
    <hr class="hr-side mx-2" />
    <ul class="list-unstyled px-2">
      <li class="">
        <a
          href="dashBoard"
          class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"
          ><i class="fa-solid fa-house px-3"></i>Bảng điều khiển</a
        >
      </li>
      <li class="">
        <a
          href="products"
          class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"
        >
          <i class="fa-solid fa-book px-3"></i>Sản phẩm
        </a>
      </li>
      <li class="">
        <a
          href="category"
          class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"
        >
          <i class="fa-solid fa-receipt px-3"></i>Danh mục
        </a>
      </li>
      <li class="">
        <a
          href="bills"
          class="text-decoration-none d-flex justify-content-between pt-3 pb-3 mt-2 px-1"
          ><span><i class="fa-solid fa-cart-shopping px-3"></i>Hóa đơn</span>
          <span class="bardge rounded-pill py-0 px-2">02</span></a
        >
      </li>
      <li class="active">
        <a href="users" class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"
          ><i class="fa-solid fa-users px-3"></i>Người dùng</a
        >
      </li>
    </ul>
    <hr class="hr-side mx-2" />
    <ul class="list-unstyled px-2">
      <li class="">
        <a href="#" class="text-decoration-none d-block pt-3 pb-3 mt-2 px-1"
          ><i class="fa-solid fa-gears px-3"></i>Cài đặt</a
        >
      </li>
    </ul>
  </div>
  <div class="topbar">
    <a
      type="button"
      onclick="logout()"
      class="item-logout text-decoration-none"
    >
      <i class="fa-solid fa-right-from-bracket"></i>
    </a>
  </div>
  <div class="main-content px-4" style="overflow: scroll">
    <div class="header-content">
      <span class="fs-4">Danh sách người dùng</span>
      <div id="clock"></div>
    </div>
    <div class="table-container">
      <div class="tool-container">
        <button
          class="tool-button"
          style="color: #006a4a; background-color: #91ffae"
          data-bs-target="#addModal"
          data-bs-toggle="modal"
        >
          <i class="fa-solid fa-plus"></i>
          <span>Thêm người dùng</span>
        </button>
        <button
          class="tool-button"
          style="color: #006a6a; background-color: #8fffda"
        >
          <i class="fa-solid fa-file-excel"></i>
          <span>Xuất excel</span>
        </button>
        <button
          class="tool-button"
          style="color: #07006a; background-color: #af8fff"
        >
          <i class="fa-solid fa-file-pdf"></i>
          <span>Xuất pdf</span>
        </button>
      </div>
      <hr />
      <table
        id="tableData"
        class="table table-bordered table-hover"
        style="width: 100%"
      >
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Họ tên</th>
            <th>Avatar</th>
            <th>Email</th>
            <th>Trạng thái</th>
            <th>Vai trò</th>
            <th>Chức năng</th>
          </tr>
        </thead>
        <tbody>
          <% userData.forEach(user => { %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td class="text-center">
              <img class="avatar-img" src="<%= user.img %>" />
            </td>
            <td><%= user.email %></td>
            <% if(user.status === 'Active'){ %>
                  <td style="color: #00a803;"><%= user.status %></td>
                <% } else { %>
                  <td style="color: #ff0000;"><%= user.status %></td>
                  <% } %>
            
            <td><%= user.type %></td>
            <td class="text-center">
              <button
                class="btn btn-primary btn-sm trash"
                type="button"
                title="Xóa"
                onclick="myFunction(this)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                class="btn btn-primary btn-sm edit"
                type="button"
                title="Sửa"
                id="show-emp"
                data-bs-toggle="modal"
                data-bs-target="#editModal"
              >
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Moda -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Chỉnh sửa thông tin người dùng</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Tên</label>
            <input
              class="form-control"
              type="text"
              required
              value="Bàn ăn gỗ Theresa"
            />
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Email</label>
            <input
              class="form-control"
              type="text"
              required
              value="Bàn ăn gỗ Theresa"
            />
          </div>
          <div class="form-group col-md-6 mt-3">
            <label class="control-label">Password</label>
            <input
              class="form-control"
              type="password"
              required
              value="Bàn ăn gỗ Theresa"
            />
          </div>
          <div class="form-group col-md-6 mt-3">
            <label for="exampleSelect1" class="control-label">Vai trò</label>
            <select class="form-control" id="exampleSelect1">
              <option>Admin</option>
              <option>User</option>
            </select>
          </div>
          <div class="form-group col-md-6 mt-3">
            <label class="control-label">Hình ảnh</label>
            <input id="productImg" class="form-control" type="file" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-save" type="button">Lưu lại</button>
        <button class="btn btn-cancel" data-bs-dismiss="modal" type="button">
          Hủy bỏ
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Thêm người dùng</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Tên người dùng</label>
            <input
              class="form-control"
              type="text"
              required
              value=""
              name="nameInput"
            />
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Email</label>
            <input
              class="form-control"
              type="text"
              required
              value=""
              name="emailInput"
            />
          </div>
          <div class="form-group col-md-6 mt-3">
            <label class="control-label">Password</label>
            <input
              class="form-control"
              type="password"
              required
              value="passwordInput"
            />
          </div>
          <!-- <div class="form-group col-md-6">
            <label class="control-label">Số lượng</label>
            <input class="form-control" type="number" required value="20" />
          </div> -->
          <div class="form-group col-md-6 mt-3">
            <label for="exampleSelect1" class="control-label">Vai trò</label>
            <select class="form-control" id="exampleSelect1">
              <option>Admin</option>
              <option>User</option>
            </select>
          </div>
          <div class="form-group col-md-6 mt-3">
            <label class="control-label">Hình ảnh</label>
            <input id="productImg" class="form-control" type="file" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-save" type="button">Lưu lại</button>
        <button class="btn btn-cancel" data-bs-dismiss="modal" type="button">
          Hủy bỏ
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Moda -->
